#Project Milestone - Data Exploration and Analysis Plan - July 15, 2015

## Part 1: Reviewing the dataset

#### Import the csv
#### Check out basic stats
#### Review the data columns.  What are my features?  What data do I have to compare?  What relationships are worth exploring?

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

%matplotlib inline

import statsmodels.api as sm

In [2]:
#import the file and check the first and last rows

markets = pd.read_csv("../GA-DAT-LA-07-Project/Export-2.csv")
markets.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1000618,100-Mile Market,http://www.peoplesfoodco-op.org/,NaN,NaN,NaN,NaN,507 Harrison Street,Kalamazoo,Kalamazoo,...,Y,N,Y,N,N,Y,N,N,Y,4/24/2014 6:22:51 PM
1,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,NaN,...,N,N,N,N,N,N,N,N,N,2013
2,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49:46 AM
3,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,N,3/1/2012 10:38:22 AM
4,1011100,12 South Farmers Market,http://www.12southfarmersmarket.com,12_South_Farmers_Market,@12southfrmsmkt,NaN,@12southfrmsmkt,3000 Granny White Pike,Nashville,Davidson,...,Y,N,Y,N,Y,Y,Y,N,N,5/1/2015 10:40:56 AM

In [3]:
#basic stats 
#know I have a total of 8430 farmers' markets in my dataset

markets.describe()

                FMID            x            y
count     8465.00000  8436.000000  8436.000000
mean   1008840.51707   -91.143883    39.260280
std      57196.57203    17.487940     5.100787
min    1000001.00000  -166.540000    17.709900
25%    1002740.00000   -97.421819    36.393770
50%    1005489.00000   -86.370112    40.103309
75%    1008393.00000   -77.636537    42.463774
max    2000036.00000   -64.704300    64.862750

In [4]:
markets.columns

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'],
      dtype='object')

In [5]:
#practice pulling a list of unique values

pd.unique(markets.State.ravel())

array(['Michigan', 'South Carolina', 'Missouri', 'New York', 'Tennessee',
       'Delaware', 'District of Columbia', 'Pennsylvania', 'Minnesota',
       'Virginia', 'Nebraska', 'Illinois', 'Wisconsin', 'New Jersey',
       'Kansas', 'California', 'Utah', 'Florida', 'Maryland', 'Indiana',
       'Nevada', 'Colorado', 'Washington', 'Alabama', 'Iowa', 'Kentucky',
       'South Dakota', 'Massachusetts', 'Louisiana', 'New Mexico', 'Maine',
       'Georgia', 'Oklahoma', 'Hawaii', 'North Carolina', 'Arizona',
       'Oregon', 'West Virginia', 'Ohio', 'Idaho', 'New Hampshire',
       'Montana', 'North Dakota', 'Alaska', 'Texas', 'Virgin Islands',
       'Rhode Island', 'Arkansas', 'Connecticut', 'Mississippi', 'Vermont',
       'Wyoming', 'Puerto Rico'], dtype=object)

In [6]:
#practice *.values

zipcodes = markets['zip'].values
zipcodes

array(['49007', '29682', '64759', ..., '55398', '84767', '46077'], dtype=object)

## Part 2: Start Cleaning the Data

#### Consider normalizing data of each column
#### Consider adding new columns that help further group the data based on business context
#### Consider integrating additional datasets, such as Census data for income and affluency measures

In [7]:
#Clean the updateTime column and change the text into date format

updateTime = markets['updateTime']
markets['cleanUpdateTime'] = pd.to_datetime(pd.Series(updateTime))

#confirm type of newly added and cleaned date/time column

markets['cleanUpdateTime'].tail()

8460   2009-01-01 00:00:00
8461   2014-06-05 14:40:25
8462   2015-03-31 16:50:49
8463   2015-03-19 13:43:50
8464   2009-01-01 00:00:00
Name: cleanUpdateTime, dtype: datetime64[ns]

In [8]:
print(markets.columns)

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime', 'cleanUpdateTime'],
      dtype='object')

In [10]:
#confirm newly added and cleaned date/time column
markets.shape
markets.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime,cleanUpdateTime
0,1000618,100-Mile Market,http://www.peoplesfoodco-op.org/,NaN,NaN,NaN,NaN,507 Harrison Street,Kalamazoo,Kalamazoo,...,N,Y,N,N,Y,N,N,Y,4/24/2014 6:22:51 PM,2014-04-24 18:22:51
1,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,NaN,...,N,N,N,N,N,N,N,N,2013,2013-01-01 00:00:00
2,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,Y,N,N,N,N,N,N,10/28/2014 9:49:46 AM,2014-10-28 09:49:46
3,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,3/1/2012 10:38:22 AM,2012-03-01 10:38:22
4,1011100,12 South Farmers Market,http://www.12southfarmersmarket.com,12_South_Farmers_Market,@12southfrmsmkt,NaN,@12southfrmsmkt,3000 Granny White Pike,Nashville,Davidson,...,N,Y,N,Y,Y,Y,N,N,5/1/2015 10:40:56 AM,2015-05-01 10:40:56

In [12]:
# Count updates by year to understand the likelihood of having been updated recently. OPEN - Revisite how to group
# Should I add a new column with the grouping data or group using existing columns

markets.groupby(markets['cleanUpdateTime'].map(lambda x: x.year))

DatetimeIndex

#markets['Year'] = markets.groupby(markets['cleanUpdateTime'].map(lambda x: x.year))
#Year

In [15]:
CountByYear = markets.groupby(markets['cleanUpdateTime'])['FMID'].count()
CountByYear.head()

cleanUpdateTime
2009-01-01 00:00:00    1838
2010-04-07 13:22:00       1
2010-04-07 13:34:00       1
2010-04-07 13:39:00       1
2010-04-07 14:01:00       1
Name: FMID, dtype: int64

In [16]:
# Count of markets by state
# FOLLOW UP - What is this new x and y?  

byTime = markets.groupby('cleanUpdateTime')
byTime.count()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
cleanUpdateTime,,,,,,,,,,,,,,,,,,,,,
2009-01-01 00:00:00,1838,1838,438,13,0,0,0,1787,1838,1694,...,1838,1838,1838,1838,1838,1838,1838,1838,1838,1838
2010-04-07 13:22:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-07 13:34:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-07 13:39:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-07 14:01:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-12 10:54:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-14 22:34:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-15 16:15:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-15 16:19:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-15 17:09:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-15 19:52:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 00:59:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 01:07:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 05:06:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 05:07:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 09:35:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 09:38:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 09:44:00,2,2,0,0,0,0,0,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2010-04-16 09:49:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 09:55:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 09:57:00,2,2,1,0,0,0,0,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2010-04-16 10:03:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:06:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:08:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:16:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:18:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:29:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:33:00,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:35:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2010-04-16 10:43:00,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-10 16:52:53,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-10 17:06:20,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-10 17:08:20,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-11 05:15:34,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-11 06:34:15,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-12 09:23:20,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-13 12:06:47,1,1,0,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-13 19:43:51,1,1,1,1,0,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-13 21:59:38,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 10:18:27,1,1,0,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 10:46:35,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:00:58,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:06:41,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:12:04,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:15:20,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:19:25,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:23:44,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:28:04,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:32:31,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:36:59,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:41:19,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:45:06,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:48:32,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:51:55,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 11:56:14,1,1,1,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-14 12:22:36,1,1,0,0,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-15 10:21:00,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-15 10:56:45,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-15 12:55:15,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-07-16 11:53:55,1,1,0,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
# Count of markets by state
# QUESTION:  How do I use a groupby and countif statement together? 

byState = markets.groupby('State')
byState.count().head(3)

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime,cleanUpdateTime
State,,,,,,,,,,,,,,,,,,,,,
Alabama,144,144,39,25,7,1,4,140,143,139,...,144,144,144,144,144,144,144,144,144,144
Alaska,33,33,16,6,2,0,0,33,33,23,...,33,33,33,33,33,33,33,33,33,33
Arizona,88,88,65,37,23,0,7,87,88,82,...,88,88,88,88,88,88,88,88,88,88

In [18]:
# Count of markets by state
# QUESTION:  How do I use a groupby and countif statement together? 

byState = markets.groupby('State')
byState.count().head(3)

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime,cleanUpdateTime
State,,,,,,,,,,,,,,,,,,,,,
Alabama,144,144,39,25,7,1,4,140,143,139,...,144,144,144,144,144,144,144,144,144,144
Alaska,33,33,16,6,2,0,0,33,33,23,...,33,33,33,33,33,33,33,33,33,33
Arizona,88,88,65,37,23,0,7,87,88,82,...,88,88,88,88,88,88,88,88,88,88

In [19]:
#Considering a recommendation / search tool for FM's with social media by 
#using the BernoulliNB to show likelihood of social media per prediction

print(markets['Facebook'][0:10])

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                              12_South_Farmers_Market
5    https://www.facebook.com/125thStreetFarmersMarket
6    https://www.facebook.com/pages/12th-Brandywine...
7            https://www.facebook.com/14UFarmersMarket
8                                                  NaN
9                                                  NaN
Name: Facebook, dtype: object

In [28]:
# Confirmed x and y columns are not longitude and latitude even though they are organized by "location"

markets[['x','y']].head()

           x          y
0 -85.575020  42.295960
1 -82.818700  34.804200
2 -94.274619  37.495628
3 -73.949300  40.793900
4 -86.790709  36.118370

## Part 3: Thoughts

### Objective:  To create a recommendation system for potential vendors looking to sell products at farmers' markets

#### Show the vendor what are the most prevalently sold items at farmers' markets in within the close distance range.  Show count of vendors and distance. Show max and min of top 3 products sold. 
#### Consider using Naive Bayes for existence classification and clustering for sold items